doctype html
html
	head
		meta(chatset="UTF-8")
		title WebSocketChat
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900,400italic,700italic,900italic")
		link(rel="stylesheet", href="/stylesheets/styles.css")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="/scripts/chat.js")
	body
		block content