.message
	.sender Emil
	.message-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.

.message
	.sender Emil
	.message-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.

.message
	.sender Emil
	.message-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.

.message
	.sender Emil
	.message-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.

.message
	.sender Emil
	.message-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.